name: CI/CD Pipeline - Diario de Classe

# Gatilhos: Roda em pushes na main e em Pull Requests para a main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # JOB 1: Continuous Integration (Testes)
  test:
    # Define o runner (VM do GitHub que vai rodar o pipe) como Ubuntu
    runs-on: ubuntu-latest

    steps:
      # Roda um git clone do repositorio dentro do runner
      - name: Checkout do código
        uses: actions/checkout@v6

      # Baixa o Node no runner e configura o PATH
      - name: Setup do Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24' # Versão que definimos no packages e a base do desenvolvimento

          # Com cache: 'npm', a Action verifica o seu arquivo package-lock.json e
          # cria um "hash" (uma assinatura única) desse arquivo. Na primeira execução,
          # a action baixa tudo e, no final, salva a pasta ~/.npm (onde o npm guarda
          # os pacotes baixados) em um armazenamento do GitHub, associado àquele hash.
          # Nas próximas execuções, antes de rodar o npm ci, a Action verifica se o
          # package-lock.json mudou. Se não mudou (o hash é o mesmo), restaura a pasta
          # ~/.npm do cache. Dessa forma, o npm ci roda quase instantaneamente,
          # não precisando baixar os pacotes novamente da internet.
          cache: 'npm'

      # Instala os pacotes necessários
      - name: Instalar dependências
        # npm ci (clean install) ao invés de npm install para que use exatamente as
        # versões dos pacotes definidos no arquivo packages-lock.json, ao invés de
        # aceitar variações menores.
        run: npm ci

      # Executa o jest através do que está configurado no packages.json como `test`
      - name: Executar Testes Unitários
        run: npm run test

  # JOB 2: Continuous Delivery (Docker Build & Push)
  build-and-push:
    # Só roda se o job 'test' passar
    needs: test
    # Só faz push se for na branch main (evita push de imagem quebrada em PRs)
    if: github.ref == 'refs/heads/main'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v6

      # Instala o Docker Buildx (versão avançada do Docker Build) no runner
      - name: Setup do Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Faz login no Docker Hub. User e Token vem do GitHub Secrets
      # Estou usando uma conta que criei para o grupo no Docker Hub
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # Lê o Dockerfile, faz o build e o push da imagem para o Registry (Docker Hub)
      - name: Build e Push da Imagem
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Tags: gera uma 'latest' e uma com o SHA do commit para melhor versionamento
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/diario-de-classe:latest
            ${{ secrets.DOCKER_USERNAME }}/diario-de-classe:${{ github.sha }}